<.flash_group flash={@flash} />
<div class="px-4 py-36">
  <div class="flex mx-auto h-full w-full items-center justify-center">
    <h1 class="text-3xl font-bold">Welcome to SoloroutePublic</h1>
  </div>
</div>
